#A,#B,#C,#D,#E,#F,#G{
    width:30px;
    height:25px;
    
  }
  table{
    margin:30px auto;
    border-collapse:collapse;
  }
  .one{
   background:rgba(247,40,195,0.1);
  }
  .two{
    background:rgba(247,40,195,0.2);
  }
  .three{
    background:rgba(247,40,195,0.3);
  }
  .four{
   background:rgba(247,40,195,0.4);
  }
  .five{
   background:rgba(247,40,195,0.5);
  }
  .six{
    background:rgba(247,40,195,0.6);
  }
  .seven{
   background:rgba(247,40,195,0.7);
  }
  .eight{
    background:rgba(247,40,195,0.8);
  }
  
  .nine{
    background:rgba(247,40,195,0.9);
  }
    .a{
    background:rgba(233,98,15,0.1);
  }
  .b{
    background:rgba(233,98,15,0.2);
  }
  .c{
  background:rgba(233,98,15,0.3);
  }
  .d{
    background:rgba(233,98,15,0.4);
  }
  .e{
    background:rgba(233,98,15,0.5);
  }
  .f{
   background:rgba(233,98,15,0.6);
  }
  .g{
    background:rgba(233,98,15,0.7);
  }
  .h{
    background:rgba(233,98,15,0.8);
  }
  .i{
    background:rgba(233,98,15,0.9);
  }
  .j{
   background:rgba(84,233,15,0.1);
  }
  .k{
    background:rgba(84,233,15,0.2);
  }
  .l{
    background:rgba(84,233,15,0.3);
  }
  .m{
    background:rgba(84,233,15,0.4);
  }
  .n{
  background:rgba(84,233,15,0.5);
  }
  .o{
    background:rgba(84,233,15,0.6);
  }
  .p{
    background:rgba(84,233,15,0.7);
  }
  .q{
    background:rgba(84,233,15,0.8);
  }
  .r{
  background:rgba(84,233,15,0.9);
  }
  .s{
    background:rgba(73,15,233,0.1);
  }
  .t{
  background:rgba(73,15,233,0.2);
  }
  .u{
  background:rgba(73,15,233,0.3);
  }
  .v{
    background:rgba(73,15,233,0.4);
  }
  .w{
   background:rgba(73,15,233,0.5);
  }
  .x{
    background:rgba(73,15,233,0.6);
  }
  .y{
    background:rgba(73,15,233,0.7);
  }
  .z{
   background:rgba(73,15,233,0.8);
  }
  .aa{
    background:rgba(73,15,233,0.9);
  }
  .bb{
   background:rgba(233,229,15,0.1);
  }
  .cc{
   background:rgba(233,229,15,0.2);
  }
  .dd{
    background:rgba(233,229,15,0.3);
  }
  .ee{
   background:rgba(233,229,15,0.4);
  }
  .ff{
    background:rgba(233,229,15,0.5);
  }
  .gg{
    background:rgba(233,229,15,0.6);
  }
  .hh{
    background:rgba(233,229,15,0.7);
  }
  .ii{
  background:rgba(233,229,15,0.8);
  }
  .jj{
  background:rgba(233,229,15,0.9);
  }
  .kk{
    background:rgba(15,146,233,0.1);
  }
  .ll{
    background:rgba(15,146,233,0.2);
  }
  .mm{
    background:rgba(15,146,233,0.3);
  }
  .nn{
    background:rgba(15,146,233,0.4);
  }
  .oo{
    background:rgba(15,146,233,0.5);
  }
  .pp{
    background:rgba(15,146,233,0.6);
  }
  .qq{
    background:rgba(15,146,233,0.7);
  }
  .rr{
    background:rgba(15,146,233,0.8);
  }
  .ss{
    background:rgba(15,146,233,0.9);
  }
  .tt{
    background:rgba(233,15,33,0.1);
  }
  .uu{
    background:rgba(233,15,33,0.2);
  }
  .vv{
    background:rgba(233,15,33,0.3);
  }
  .ww{
    background:rgba(233,15,33,0.4);
  }
  .xx{
    background:rgba(233,15,33,0.5);
  }
  .yy{
    background:rgba(233,15,33,0.6);
  }
  .zz{
    background:rgba(233,15,33,0.7);
  }
  .aaa{
    background:rgba(233,15,33,0.8);
  }
  .bbb{
    background:rgba(233,15,33,0.9);
  }